<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<title></title>

	<link rel="stylesheet" href="css/form.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
	 crossorigin="anonymous">
</head>

<body>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
	 crossorigin="anonymous"></script>

	<h1> <%= title %></h1>
 
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<form method="post" action="/admin">
				<div class="container">
					<label> email :</label>
					<input type="text" name="email: " value="email"/>
					<br />
				</div>

				<div class="container">
					<button type="submit" class="btn btn-danger btn-lg btn-block" value="subimt" name="submit">Search</button>
				</div>
			</form>
			<%if (session.feedbacks !== undefined) { %>
			<% session.feedbacks.forEach(feedback => { %>	
                <div class="container">
					<label> User Name :</label>
					<input type="text" size="30" placeholder="User Name: " name="username" value="<%= session.user.username %>">
					</br>
				</div>
				<div class="container">
					<label> First Name :</label>
					<input type="text" size="30" placeholder="First Name: " name="firstName" value="<%= session.user.firstName %>">
					</br>
				</div>
				<div class="container">
					<label> Last Name :</label>
					<input type="text" size="30" placeholder="Last Name: " name="lastName" value="<%= session.user.lastName %>">
					<br />
				</div>
				
				<div class="container">
					<label> Comments:</label>
					<textarea class="form-control" rows="5" name="comment" value="<%= session.user.comment %>"></textarea>
					<br />
				</div>
				
				<% })%>
				<% } %>
		</div>
	</div>

</body>
</html>